.products-list {
  width: 72%;
  display: inline-block;
}

.products-list img{
  height: 150px;
}

.item {
    width: 30%;
    display: inline-block;
    border: 1px solid #aaa;
    padding: 20px 10px;
  }